<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/course/course/save}">
        <input type="hidden" name="id" th:if="${course}" th:value="${course.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入课程名称" th:value="${course?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="type" placeholder="请输入课程类型" th:value="${course?.type}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="date" name="start" placeholder="请输入开始时间" th:value="${course?.start}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="date" name="end" placeholder="请输入结束时间" th:value="${course?.end}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教练</label>
            <div class="layui-input-inline">
                <select class="interest" name="userId"  lay-filter="aihao" th:each="item:${list}">
                    <option >请选择</option>
                    <option  th:value="${item.id}" >[[${item.username}]]</option>
                </select>
<!--                <input class="layui-input" type="text" name="userId" placeholder="请输入用户id" th:value="${course?.userId}">-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">容纳人数</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="count" placeholder="请输入容纳人数" th:value="${course?.count}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程价格</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="price" placeholder="请输入价格" th:value="${course?.price}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${course?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>