<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${course.id}"></td>
                    <th>课程名称</th>
                    <td th:text="${course.name}"></td>
                </tr>
                <tr>
                    <th>课程类型</th>
                    <td th:text="${course.type}"></td>
                    <th>开始时间</th>
                    <td th:text="${course.start}"></td>
                </tr>
                <tr>
                    <th>结束时间</th>
                    <td th:text="${course.end}"></td>
                    <th>用户id</th>
                    <td th:text="${course.userId}"></td>
                </tr>
                <tr>
                    <th>参与人数</th>
                    <td th:text="${course.count}" colspan="3"></td>
                </tr>
                <tr>
                    <th>更新者</th>
                    <td th:text="${course.updateBy?.nickname}"></td>
                    <th>教练员</th>
                    <td th:text="${course.createBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(course.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(course.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${course.remark}" colspan="3"></td>
                </tr>
                <tr>
                    <th>会员卡余额</th>
                    <td th:text="${balance}" colspan="3"></td>
                </tr>
            </tbody>
        </table>



    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>